.main__buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.dif__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 10px;
}
.icon__buttons{
    color: rgb(110, 110, 110);
}
.text__buttons{
    color: rgb(110, 110, 110);
    margin-top: -10px;
    margin-left: 10px;
    font-size: small;
    font-weight: 500;
}