body{
  background-color: rgb(236, 236, 236);
}

.main__app{
  display: flex;
  width: 100vw;
  justify-content: center;
}
.container__app{
  display: flex;
  width: 1200px;
  height: 100vw;
  justify-content: center;
  align-self: center;
  grid-gap: 20px
}